*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bool-primary: #f6f8f9;
    --bool-secondary: #ffffff;
    --bool-button-editorial: #45abea;
    --bool-goals: #9c72e4;
    --bool-recruiting: #64c0a9;
    --bool-mobile: #f29e33;
    --bool-website: #d863a1;
    --bool-sales: #b0c926;
}

body{
    background-color: var(--bool-primary);
    font-family: 'Mulish', sans-serif;

}

.logo_image{
    padding: 1rem 1.5rem 1rem;
    background-color: var(--bool-secondary);
}

h1{
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    font-weight: 800;
}

.container1{
    width: 70%;
    height: 60px;
    background-color: var(--bool-secondary);
    margin: 40px auto;
    border-radius: 5px 5px 0 0;
    margin-bottom: 1px;

}

.button_task{
    margin: 25px 40px ;
    background-color: var(--bool-button-editorial);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border-color: #45abea;
}

.button_section{
    background-color: var(--bool-secondary);
    font-size: 20px;
    border-radius: 5px;
    border-color: 1px solid black;
}

.container2{
    width: 70%;
    height: 80%;
    background-color: var(--bool-secondary);
    margin: 40px auto;
    margin-top: 1px;
    border-radius: 0 0 5px 5px;
}

h2, p{
    margin-left: 40px;
}

p{
    margin-bottom: 20px;
    margin-top: 15px;
}

.editorial{
    color: #ffffff;
    background-color: var(--bool-button-editorial);
    border-radius: 20px;
    font-size: 10px;
    width: 70px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding: 4px;
}

.goals{
    color: #ffffff;
    background-color: var(--bool-goals);
    border-radius: 20px;
    font-size: 10px;
    width: 70px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding: 4px;
}

.recruiting{
    color: #ffffff;
    background-color: var(--bool-recruiting);
    border-radius: 20px;
    font-size: 10px;
    width: 70px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding: 4px;
}

.mobile{
    color: #ffffff;
    background-color: var(--bool-mobile);
    border-radius: 20px;
    font-size: 10px;
    width: 70px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding: 4px;
}

